/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=block');
@import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');

:root {
  font-family: Montserrat, 'Segoe UI', Roboto, -apple-system, BlinkMacSystemFont,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: rgba(255, 255, 255, 0.87);
  /* background-color: rgba(97, 97, 97, 0.87); */
}

.navigation {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: block;
  padding: 10px;
}

.container {
  /* max-width: 800px; */
  padding: 20px 20px 20px 156px;
  /* margin: 0 auto; */
}
